<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="register_page/style.css">
    <script src="register_page/app.js"></script>
</head>
<body>
<h1>Please register.</h1>
<p>Provide a new email and password below.</p>

<form action="http://localhost:8080/register" method="post">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Register">
    <p>Already have an account? Please <a href="/">log in here</a></p>
</form>

</body>
</html>