<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="login_page/style.css">
    <script src="login_page/app.js"></script>
</head>
<body>
<h1>Please login.</h1>
<p>Provide your email and password below.</p>

<form action="http://localhost:8080/login" method="post">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Login">
    <p>Don't have an account? Please <a href="/register_page">sign up here</a></p>
</form>

</body>
</html>