body {
    font-family: "Open Sans", serif;
    margin: auto;
    width: 30%;
    text-align: center;
}

form {
    border: 3px solid #f1f1f1;
    padding: 40px;
    margin: 40px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: lightskyblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.2rem;
    width: 40%;
}

input[type=submit]:hover {
    opacity: 0.8;
}