<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Favorites</title>
    <link rel="stylesheet" type="text/css" href="search-page/style.css">
    <script src="favorites-page/app.js"></script>
</head>
<body>

<div class="topnav">
    <a id="home" href="/search_page">Home</a>
    <a id="favorites" href="/favorites_page">Favorites</a>
    <a id="logout" href="/logout">Logout ⇨</a>
</div>

<div class="welcome-msg">
    <h1>Favorites</h1>
    <p>These are your favorite movies.</p>
</div>


<ul id="result-list"></ul>

<template id="list-item-template">
    <li id="">
        <div class="result-container">
            <img src="" alt="Poster">
            <div class="info-container">
                <p class="title"></p>
                <p class="details"></p>
                <p class="plot"></p>
                <div class="buttons-container">
                    <button class="more-btn">Show more</button>
                    <button class="del-btn">Delete</button>
                </div>
            </div>
        </div>
        <div class="more-container" style="display: none;">
            <p class="director">Director: </p>
            <p class="actors">Actors: </p>
            <p class="country">Country: </p>
            <p class="language">Language: </p>
            <p class="plot-full"></p>
        </div>
    </li>
</template>


</body>
</html>