<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="login-page/style.css">
    <script src="login-page/app.js"></script>
</head>
<body>
<h1>Please login.</h1>
<p>Provide your email and password below.</p>

<form action="/login" method="post">
    <input type="text" id="email" name="email" placeholder="Email"><br><br>
    <input type="password" id="password" name="password" placeholder="Password"><br><br>
    <input type="submit" value="Login">
    <p>Don't have an account? Please <a href="/register_page">sign up here</a></p>
</form>

</body>
</html>